.box {
    background-color: red ;
    width: 100px;
    height: 100px;
    animation-name: rotate-kub;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-duration: 3s;
}



@keyframes rotate-kub {
    0% {
        background-color: red;
        transform: translate(0, 0);
    }
    20% {
        background-color: blue;
        transform: translate(0, 250px);
    }
    60% {
        background-color: green;
        transform: translate(250px, 250px);
    }
    80% {
        background-color: yellow;
        transform: translate(250px, 0);
    }
    100%{
        background-color: red;
        transform: translate(0, 0);
    }
}